@model IEnumerable<WebApplication_Vitalik.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="login">
    <div id="tsparticles">
        <canvas style="width: 100% !important; height: 100% !important; position: fixed !important; z-index: 0 !important; top: 0px !important; left: 0px !important; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; pointer-events: none;"
                data-generated="false" width="1903" height="585"></canvas>
    </div>
    <div class="jss1">
        <div class="jss2">
            <div class="jss3">
                <div class="jss7">
                    <div class="jss8">
                        <div class="jss9">
                            <div class="jss14">
                                <div class="jss15">Бот Виталя!</div>
                                <div class="jss16">Сhoose your own room and time.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jss4">
                <div class="jss5 jss6">
                    <div class="jss21">
                        <h2 class="jss24">Welcome to Bot Vitaly</h2>
                        <span class="jss25 jss54">Please enter your login and password</span>


                        <form action="" method="post" class="login">


                            <label for="login"> Логин:</label><br>
                            <input class="jss21" placeholder="Логин" name="login" id="login" type="text" />
                            <br><br>
                            <label for="password">Пароль:</label><br>
                            <input class="jss21" id="password" name="password" type="password" placeholder="Пароль" />
                            <br><br>




                            <p>

                                <input class="jss22" type="submit" value="Log in" />
                            <p class="jss251">забыл пароль - ты больше не админ</p>
                        </form>
                    </div>
                    <hr class="MuiDivider-root">
                </div>
            </div>
        </div>
    </div>
</div>