<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Bot Vitaly</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css21.css" asp-append-version="true" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
